.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.cell_item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.cell_item + .cell_item {
    margin-left: 20px;
}

.cell_title {
    flex: 0 0 60px;
    margin-right: 8px;

    font-weight: bold;
    white-space: nowrap;
    text-align: right;
}

.model_footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding-top: 20px;

    border-top: solid 1px rgba(0, 0, 0, 0.06);
}

.need {
    display: inline-block;
}

.need::before {
    margin-left: -9px;
    padding-right: 4px;
    color: red;
    font-size: 14px;
    vertical-align: middel;
    content: '*';
}

// app
.page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px - 60px - 16px);
    margin-top: 8px;
}

.popPage {
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 0 8px 0;
    padding: 8px 20px;

    background-color: white;
}

.toolbar_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.toolbar_left > * {
    flex: 0 0 auto;
    margin-right: 8px;
    white-space: nowrap;
}

.toolbar_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
}

.toolbar_right > * {
    margin-left: 8px;
}

.tableWrapper {
    flex: 1;
    padding: 20px;
    background-color: white;
}

// table没有数据时,table header文字不换行
.table {
    white-space: pre;
}

// 红色 涨
.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: #b5a642;
    // color: #d9d919
}
